@use 'var-colors' as *;
@use 'var-layout' as *;
@use 'var-typography' as *;

@mixin copy-text ($text-margin:0px 0px 1.4em 0px) {
    font-family: $text-font;
	font-weight: 300;
    font-size: $text-size;
    line-height: $text-lh;
    color: $text-color;
	margin: $text-margin;
}

@mixin copy-text-strong ($text-margin:0px 0px 1.4em 0px) {
    font: $text-size $text-font-strong;
    line-height: $text-lh;
	letter-spacing: .01em;
    color: $text-color;
	margin: $text-margin;
}

@mixin heading () {
    font-family:$heading-font;
    font-weight: $normal;
    color: $heading-color;
    margin: $heading-margin;
    //letter-spacing: $heading-letter-spacing;
}

@mixin page-title () {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0 30px 0;
    background: $page-title-bg-color;
    
}

@mixin page-title-h1 {
    font: $normal $page-title-font-size $page-title-font;
    color: $page-title-color;
    //letter-spacing: $heading-letter-spacing;
    line-height: $page-title-lh;
    margin: 0;
    padding: 0;
}

@mixin caption () {
    font: $normal $text-size $text-font ;
    font-size: ($text-size/1.4);
    color: $caption-color;
    margin: $caption-margin;
    text-align: left !important;
}