@use 'abstracts' as *;


.taxonomy-label {
    @include heading();
    display: flex;
}

.taxonomy-post,
.taxonomy-terms-list {
    margin-top: 2rem;
    padding: 0;
    // border: 1px solid rgb(207, 207, 207);
    border-radius: 8px;


    ul {
        font-size: 1em;
        margin: 0;
        padding: 0 !important;
        display: flex;
        gap: 10px;

        li {
            list-style: none;
            font-size: 0.88em;
            color: black;

            &:before {
                display: none;
            }
        }
    }
}

.taxonomy-post ul li:hover,
.taxonomy-terms-list ul li:hover {
    background-color: black;
    color: white;
}
