// src/styles/sass/components/ticker.scss

@use 'abstracts' as *;


.ticker-container {
  color: #dadada;
  width: 100%;
  max-width: 100%;
  background-color: #2c2c2c;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;

  // Gradient for fade-in/fade-out on edges
  // mask-image: linear-gradient(to right, transparent 0%, black 5%, black 95%, transparent 100%);
  // -webkit-mask-image: linear-gradient(to right, transparent 0%, black 5%, black 95%, transparent 100%);
}

.ticker-track {
  display: flex;
  width: max-content;
  will-change: transform;
  cursor: pointer;
}


.ticker-content {
  // font-family: $font-family-base;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  white-space: pre-wrap;
  flex-shrink: 0;
  display: flex;
  align-items: center;


  a {
    color: #bbce16;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

// CENTER content on STATIC MODE
.ticker-static {
  .ticker-track {
    justify-content: center;
    width: 100%;
  }
}


// ************ SMALL SIZE **************//
.ticker-small {
  .ticker-content {
    font-size: 0.8rem;
    padding: 10px 0;
  }
}

// ************ MEDIUM SIZE **************//
.ticker-medium {
  .ticker-content {
    font-size: 1rem;
    padding: 12px 0;
  }
}

// ************ BIG SIZE **************//
.ticker-big {
  .ticker-content {
    font-size: 1.25rem;
    padding: 18px 0;
  }
}

// ************ EXTRA BIG SIZE (enormous) **************//
.ticker-extra-big {
  .ticker-content {
    font-size: 1.8rem;
    padding: 30px 0;
  }
}

