// ==================================================
// Z-INDEX SCALE
// ==================================================
//
// 0–9      → Base / backgrounds
// 10–99    → Layout & content
// 100–199  → Local floating UI (dropdowns, submenus)
// 1000–1099→ Global UI (menus, panels, overlays)
// 2000+    → Critical / blocking UI
// ==================================================



// *************   BASE & OVERLAYS   ************* //
// .ticker-container {
//     z-index:999;
// }

.modal-overlay {
    z-index:9999;
}
.hero-overlay {
    z-index: 0;
}

.swiper-wrapper {
    z-index: 0 !important;
}

.image-404::before {
    z-index: -1;
}


// *************   LAYOUT & CONTENT   ************* //
.page-home header {
    z-index: 10;
}

.header {
    z-index: 30;
}

.page-title {
    z-index:20;
}

.audio-player {
    z-index: 1; // Behind dropdowns
}

.cookie-consent-actions {
    z-index: 10;
}

.ticker-container {
    z-index: 99;
}

inputs label {
    z-index: 10;
}


// *************   LOCAL FLOATING UI   ************* //
.main-menu ul li .submenu {
    z-index: 100;
}

.search-results-dropdown {
    z-index: 120;
}

.swiper .post-card .post-card-excerpt a.button a:hover {
    z-index: 120;
}


// *************   GLOBAL UI   ************* //
.mobile-menu-backdrop {
    z-index: 1000;
}

.mobile-menu-panel {
    z-index: 1010;
}

.mobile-menu-toggle {
    z-index: 1020;

    .close-icon {
        z-index: 1030;
    }
}

.search-modal-overlay {
    z-index: 1040;
}

.scroll-top-btn {
    z-index: 800;
}


// *************   CHAT BOT   ************* //
.chat-bot-position-right,
.chat-bot-position-left {
  z-index: 1000;
}

// *************   CRITICAL / BLOCKING UI   ************* //
.global-spinner {
    z-index: 2000;
}

.modal-overlay .modal-close,
.modal-content .modal-close,
.copy-modal,
.cookie-consent-overlay {
    z-index: 2010;
}


.map-popup {
    z-index: 99999999;
}